**/*__pycache__
**/*.idea
**/*.DS_Store
/usage_logs
/scripts
**/*venv
**/*.cache
.git
.gitignore
.github
*.env*
/.sops.yaml
/.run
/.dockerignore
/test
/data
deploy.sh
docker-compose.yml
Dockerfile
/bot/_main_console.py
