audioop-lts~=0.2.2
duckduckgo_search==8.1.1
gtts~=2.5.4
openai==2.2.0
Pillow~=11.3.0
pydub~=0.25.1
python-dotenv~=1.1.1
python-i18n[YAML]~=0.3.9
python-telegram-bot==22.5
pytube~=15.0.0
requests~=2.32.3
spotipy~=2.25.1
tenacity==9.1.2
tiktoken==0.12.0
whois~=1.20240129.2
wolframalpha~=5.1.3
